<div class="clr-row">
    <div class="clr-col-lg-5 clr-col-md-8 clr-col-12">
      <div class="card">
        <div class="card-header">
          Formulario de Usuario
        </div>
        <div class="card-block">
            <form class="clr-form clr-form-horizontal">
                <div class="clr-form-control">
                  <label for="nombres" class="clr-control-label">Nombres:</label>
                  <div class="clr-control-container">
                    <div class="clr-input-wrapper">
                      <input type="text" id="nombres" placeholder="Nombre Completo" class="clr-input" />
                    </div>
                  </div>
                </div>
                
                <div class="clr-form-control">
                  <label for="apellidos" class="clr-control-label">Apellidos:</label>
                  <div class="clr-control-container">
                    <div class="clr-input-wrapper">
                      <input type="text" id="apellidos" placeholder="Apellido Completo" class="clr-input" />
                    </div>
                  </div>
                </div>

                <div class="clr-form-control">
                    <label for="direccion" class="clr-control-label">Dirección:</label>
                    <div class="clr-control-container">
                      <div class="clr-input-wrapper">
                        <input type="text" id="direccion" placeholder="Direccion" class="clr-input" />
                      </div>
                    </div>
                </div>

                <div class="clr-form-control">
                    <label for="telefono" class="clr-control-label">Telefono:</label>
                    <div class="clr-control-container">
                      <div class="clr-input-wrapper">
                        <input type="text" id="telefono" placeholder="Telefono" class="clr-input" />
                      </div>
                    </div>
                </div>

                
              </form>
        </div>
        <div class="card-footer">
          <button class="btn btn-sm btn-link">Aceptar</button>
          <button class="btn btn-sm btn-link">Cancelar</button>
        </div>
      </div>
    </div>
  </div>